html {
  font-size: 18px;
}

body {
  box-sizing: border-box;
  color: #222426;
  background-color: #ECEDED;
}

.app-container {
  padding: 0 1em 1em;
}

.app-btn {
  background:linear-gradient(to right, #404246,#222426);
  border: 2px solid rgba(0,0,0,0.7);
  border-radius: 0.5rem;
}

.app-btn:hover,.app-btn:focus {
  box-shadow: 0 0.1rem 0.5rem 0 #333;
  background:linear-gradient(to right, #404246,#222426);
}

.filter-form {
  padding: 1rem;
}

.filter-form > fieldset > div > *{
  margin-bottom: 1rem !important;
}

.filter-form > fieldset > div > *:last-child{
  margin-bottom: 0 !important;
}

.row-space-between {
  display: flex;
  justify-content: space-between;
}

.app-input {
  border: 1px solid #404246 !important;
  border-radius: 10px !important;
  background-color: #ECEDED;
  line-height: 1.5rem;
}

.app-table {
  border: 0;
  width:100%;
}

.app-table tr {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.app-table thead{
  background: none;
  border-bottom: 2px solid rgba(0,0,0,0.25);
  text-transform: uppercase;
  color: rgba(0,0,0,0.5);
}

.app-table th, .app-table td {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.app-table th.th-sales, .app-table td.td-sales {
  text-align: right;
}

.app-table td.td-name.top::after {
  content: '';
  background: url('../assets/icons/star.png');
  height: 20px;
  width: 20px;
  margin-left:5px;
  display: inline-block;
  background-size: contain;
  position: absolute;
  animation: fade 2s linear infinite;
}

@keyframes fade {
  0% {opacity: 0.25;}
  40% {opacity: 1;}
  50% {opacity: 1;}
  60% {opacity: 1;}
  100% {opacity: 0.25;}
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
}

.loader {
  border: 5px solid #f3f3f3;
  animation: spin 0.5s linear infinite;
  border-top: 5px solid #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}

.client-sales-footer {
  padding: 0.8rem;
  border-top: 1px solid rgba(0,0,0,0.25);
  background-color: #eff2f2;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.client-sales-footer > div {
  margin-bottom: 0.5rem;
  align-items: baseline;
}

.client-sales-footer > div:last-child{
  margin-bottom: 0;
}

.client-sales-footer label {
  font-weight: bold;
}

.top-sales-body > div{
  padding: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.top-sales-body > div:last-child{
  border-bottom: 0;
}