.section > .section-header {
  align-items: baseline;
}

.section > .body {
  overflow: auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0.1rem 0.8rem 0 rgba(181, 181, 181, 0.25);
}